:root {
    --hour-height: 59px;
    --hour-padding: 18.25px;
}

main {
    background-color: #eeeeee;
    margin: var(--margin-sm);
    border-radius: 20px;
    padding: var(--padding-md);
    margin-bottom: var(--margin-lg);
    flex-direction: column;
    align-items: center;
}

.schedule-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: var(--padding-sm) var(--padding-lg) var(--padding-sm) var(--padding-md);
    overflow-y: auto;
    align-items: start;
}

.schedule-times {
    padding-top: 50px;
}

.schedule-times li {
    width: 60px;
    height: 60px;
    list-style-type: none;
    font-weight: bold;
}

.table-wrapper {
    width: 100%;
    position: relative;
}

.background-table {
    position: absolute;
    border-collapse: collapse;
    width: 100%;
}

.background-table tr {
    border: solid #cccccc 1px;
}

.background-table th {
    height: var(--hour-height);
    border-right: solid #cccccc 1px;
    width: 20%;
}

.background-table td {
    height: var(--hour-height);
    border-right: solid #cccccc 1px;
    width: 20%;
}

.days-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-grow: 1;
    position: relative;
}

.days-wrapper .course {
    z-index: 1;
    box-sizing: border-box;    
    background-color: lightblue;
    position: absolute;
    width: 100%;
    padding: 5px var(--padding-sm);
    border-radius: 8px;
}

.day {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
    font-size: 0.85rem;
}

.scroll-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.scroll-btn {
    color: white;
    background-color: #A3233B;
    border-radius: 8px;
    padding: var(--padding-sm) var(--padding-md);
    border: none;
    cursor: pointer;
    margin: var(--margin-sm);
}